//fontes
$fonte: 'Lexend Deca';
$fonte-secundaria: 'Ubuntu';

//cores
$branco: #ffffff;
$cor-primaria: #000000;
$cor-secundaria: #565656;
$cinza-textos: #565656;
$cor-botao: #2639ED;
$cor-de-fundo: #FEFEFE;
$background-imagem-laranja: #FFF7E3;

//tamanho das fontes

$tamanho-do-texto: 16px;
$tamanho-do-titulo: 40px;
